.App {
  text-align: center;
}
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;700&family=Rubik+Wet+Paint&display=swap');

  *{
    font-family: 'Montserrat', sans-serif;
  }
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,h2{
  text-align: center;

}
h1{
  color: whitesmoke;
}
h2{
  color: dodgerblue;
}

.container{
  margin-top: 5%;
  height: 360px;
    display: flex;
    max-width: 1300px;
    width: 80%;
    border-radius: 5px;
    align-items: center;
    margin-inline: auto;
     gap: 24px; 
     background: linear-gradient( azure, #b6d0e2 )
}

.container img{
  width: 37%;
  height: 100%;
  border: 1px solid #ddd;

}

.form-container{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
column-gap: 2px;
  /* max-height: 170px; */
  flex-wrap: wrap;
}
@media(max-width:900px){
  .container{
    flex-direction: column;

    
    height: unset;
  }
  .container img{
    width: 92%;
  }
}

