body{
  margin: 0;
  background-color: black;
}

.app{
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: grey;
  margin: 3rem auto;
}

.form-container{
  margin-bottom: 1rem;
}

.form-container label{
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}


.form-container input, 
.form-container select{
  font: inherit;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-container input:focus{
  outline: none;
  border-color: yellowgreen;
  background-color: #fff5ee;
}


p{
  color:red;
  font-size:small;
}
button{
  padding: 0.2rem;
  background-color: dodgerblue;
  font-size: medium;
  border-radius: 10px;
}


.form-actions{
  text-align: right;
}
@media(max-width:500px){
  .form-actions{
    text-align: center;
  }
  button{
    margin-bottom: 1.2rem;

  }
  .form-container input{
    position: relative;
    max-width: 72%;
    left: 2rem
  }
  .form-container label{
    left: 2rem;
    position: relative;
  }
  p{
    left: 2rem;
    position: relative;
  }
  h1{
    font-size: 1.6rem;
  }
  h2{
    font-size: 1.2rem;
  }
}